.buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.button {
    background-color: var(--secondary-theme-color);
    border: 0.0625rem solid var(--primary-theme-color);
    border-radius: 0.5rem;
    color: var(--reverse-primary-text-color);
    font-weight: 700;
    font-size: 0.875rem;
    font-family: var(--primary-font-family);
    text-decoration: none;
    padding: 0.25em 1em;
    cursor: pointer;
    transition: box-shadow 0.25s, filter 0.25s;
}

.button:hover {
    box-shadow: 0 0 0.125rem 0.125rem var(--primary-theme-color);
    filter: brightness(1.125);
}

.button--primary{
    background-color: var(--tertiary-theme-color);
    border: 0.0625rem solid var(--secondary-highlight-color);
    color: var(--primary-text-color);
}

.button--primary:hover{
    box-shadow: 0 0 0.125rem 0.125rem var(--secondary-highlight-color);
}

.button--outline {
    background-color: transparent;
    color: var(--primary-text-color);
  }

@media (min-width:768px) {
    .buttons {
        display: flex;
        gap: 1rem;
    }
    .button{
        font-size: 1rem;
    
    }
}